<h2>Order Successfully Purchased</h2>


<h3>User ID:<%= @order.user_id %> </h3>
<h3>Quantity:<%= @order.quantity %> </h3>
<h3>Product ID: <%= @order.product_id %></h3>
<h3>Total price: <%= number_to_currency(@order.total) %></h3>

<h3>Your email: <%= current_user.email %></h3>
<h3>Product name: <%=current_user.orders.last.product.name  %></h3>

