<h1>Cart</h1>

    <% @carted_products.each do |product| %>
      <div class="col-md-4 col-sm-6 product-index-single">
        <div class="well">
          <h2>Name: <a href="/products/<%= product.id %>"><%= product.product.name %></a></h2>
          <h3>Price: $<%= product.product.price %></h3>
          <h3>Subtotal: $<%= product.product.price %></h3>

          <br>
        </div>
      </div>
    <% end %>



<%= form_tag "/orders", method: :post do %>



  <input type="submit" value="Buy Now">

<% end %>
  